<!DOCTYPE html>
<html>
{include file='public/header' /}
<style type="text/css">
	.main .btn-box {
        position: static;
        margin-top: 30px;
        padding-left: 125px;
        margin-bottom: 40px;
    }

	.main .form-group .form-control {
        width: 500px;
    }

    .main .form-group select.form-control {
    	width: 70%;
    }

    .form-horizontal .form-group .control-label {
        display: inline-block;
	    width: 90px;
	    font-weight: 100;
    }
    
    .form-group  label.radio-inline:before{
        top:1px;
    }
    .form-group  label.radio-inline{
        margin-top: 2px;
    }
</style>
<body>
	{include file='public/head' /}
	{include file='public/left' /}
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content"></div>
	</div>
	<div class="main">
	    <div class="main-inner">
	        <div class="contain">
	            <p class="page-title">角色管理</p>
	            <ol class="breadcrumb">
	                <li><a href="{:url('index/index')}">首页</a></li>
	                <li><a href="{:url('role/index')}">角色管理</a></li>
	                <li class="active"><a href="{:url('role/add')}">添加角色</a></li>
	            </ol>
	            <ul class="nav nav-tabs">
	                <li role="presentation"><a href="{:url('role/index')}">角色列表</a></li>
	                <li role="presentation" class="active"><a href="javascript:void(0);">添加角色</a></li>
	            </ul>
	            <div class="tab-content">
	                <div class="tab-pane active" id="add">
	                    <div class="pane-inner">
	                    <form class="form-horizontal" action="{:url('')}">
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">角色名称：</label>
	                            <div class="input-box">
	                                <input type="text" class="form-control" name="name" />
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">角色描述：</label>
	                            <div class="input-box">
	                                <textarea class="form-control" name="remark"></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">角色状态：</label>
	                            <div class="input-box">
	                                <label for="yes" class="radio-inline"><input type="radio" name="status" value="0" id="yes" checked="checked"/>正常</label>
                                	<label for="no" class="radio-inline"><input type="radio" name="status" value="1"  id="no"/>禁用</label>
	                            </div>
	                        </div>
	                    </form>
	                    </div>
	                    <div class="btn-box">
	                        <button type="submit" class="btn btn-green ajax-post" id="submit" target-form="form-horizontal">保存</button>
	                        <button class="btn btn-green" onclick="javascript:history.back(-1);return false;">返回</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
{include file='public/script' /}
<script type="text/javascript">
	//导航高亮
	highlight_subnav("{:url('index')}");
</script>
</html>