<!DOCTYPE html>
<html>
{include file='public/header' /}
<style type="text/css">
	.table tr td:nth-child(1){
        width:150px;
    }
    .table tr td:nth-child(2){
       width:400px;
    }
    .table tr td:nth-child(3){
        width:450px;
    }
    .table tr td:nth-child(4){
        width:400px;
    }
	.main .btn-box {
        position: static;
        margin-top: 30px;
        padding-left: 125px;
        margin-bottom: 40px;
    }

	.main .form-group .form-control {
        width: 600px;
    }

    .main .form-group textarea.form-control {
    	width: 600px;
        height: 120px;
        resize: none;
    }

    .form-horizontal .form-group .control-label {
        display: inline-block;
	    width: 90px;
	    font-weight: 100;
    }
    .set .modal-content .modal-body {
	    padding-bottom: 25px;
	}
    .set .modal-content .modal-body .form-group{
    	margin-bottom: 0;
    }
    .set .modal-content {
    	width: 578px;
        height:370px;
    }
</style>
<body>
	{include file='public/head' /}
	{include file='public/left' /}
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content"></div>
	</div>
	<div class="main">
	    <div class="main-inner">
	        <div class="contain">
	            <p class="page-title">角色管理</p>
	            <ol class="breadcrumb">
	                <li><a href="{:url('index/index')}">首页</a></li>
	                <li><a href="{:url('role/index')}">角色管理</a></li>
	                <li class="active"><a href="{:url('role/index')}">角色列表</a></li>
	            </ol>
	            <ul class="nav nav-tabs">
	                <li role="presentation" class="active"><a href="javascript:void(0);">角色列表</a></li>
	                <li role="presentation"><a href="{:url('add')}">添加角色</a></li>
	            </ul>
	            <div class="tab-content">
	                <div class="tab-pane active" id="all">
	
	                    <div class="table-box">
	                        <div class="pane-inner">
	                        <table class="table">
	                            <thead>
	                            <tr>
	                                <!--<td>ID</td>-->
	                                <td>序号</td>
	                                <td>角色名称</td>
	                                <td>角色描述</td>
	                                <td>角色状态</td>
	                                <td>操作</td>
	                            </tr>
	                            </thead>
	                            <tbody>
	                            {notempty name="_list"}
								{volist name="_list" id="vo"}
								<tr>
	                                <!--<td><input class="ids" type="hidden" name="id[]" value="{$vo.id}" />{$vo.id}</td>-->
	                                <td>{$i}</td>
	                                <td>{$vo.name}</td>
	                                <td>{$vo.remark}</td>
	                                <td>{$vo.status_text}</td>
	                                <td>
	                                	{if condition="is_administrator()"}
	                                	<a class="modify border" data-toggle="modal" data-target="#modify_role_{$vo.id}">修改</a>
										<a class="role border"  data-toggle="modal" data-target="#set_role_{$vo.id}">权限设置</a>
										<a href="{:url('status',array('id'=>$vo['id'],'value'=>abs($vo['status']-1)))}" class="stop ajax-get border">{eq name="vo.status" value="0" }禁用{else/}启用{/eq}</a>
										<a class="delete border" data-toggle="modal" data-target="#delete_role_{$vo.id}">删除</a>
	                                	{else/}
										<a class="modify border" data-toggle="modal" data-target="#modify_role_{$vo.id}">修改</a>
										{if condition="is_root() AND $vo.id neq $Think.config.role_root"}
										<a class="role border"  data-toggle="modal" data-target="#set_role_{$vo.id}">权限设置</a>
										<a href="{:url('status',array('id'=>$vo['id'],'value'=>abs($vo['status']-1)))}" class="stop ajax-get border">{eq name="vo.status" value="0" }禁用{else/}启用{/eq}</a>
										<a class="delete border" data-toggle="modal" data-target="#delete_role_{$vo.id}">删除</a>
										{/if}
										{/if}
									</td>
	                            </tr>
	                            {/volist}
								{else/}
								<td colspan="5" class="text-center"> aOh! 暂时还没有数据! </td>
								{/notempty}
								</tbody>
	                        </table>
	                            </div>
	                        <nav class="text-right">
	                        	{$_page}
	                        </nav>
	                    </div>
	                </div>
	            </div>
	            {notempty name="_list"}
	            {volist name="_list" id="vo"}
	            <!-- 修改 -->
	            <div class="modal fade done" id="modify_role_{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                    class="iconfont icon-guanbi"></span></button>
	                            <p class="modal-title">角色修改</p>
	                        </div>
	                        <div class="modal-body">
	                            <form class="form-horizontal edit-group-{$vo.id}" action="{:url('edit')}">
	                                <div class="form-group">
	                                    <label for="m_name_{$vo.id}" class="control-label">角色名称：</label>
	
	                                    <div class="input-box">
	                                        <input type="text" class="form-control" id="m_name_{$vo.id}" name="name" value="{$vo.name}">
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label for="m_des_{$vo.id}" class="control-label">角色描述：</label>
	
	                                    <div class="input-box">
	                                        <textarea id="m_des_{$vo.id}"  class="form-control" name="remark">{$vo.remark}</textarea>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label for="role_des" class="control-label">角色状态：</label>
	
	                                    <div class="input-box radio">
	                                        <label for="yes_{$vo.id}" class="radio-inline"><input type="radio" name="status" value="0" id="yes_{$vo.id}" {eq name="vo.status" value="0"}checked{/eq} />正常</label>
	                                        <label for="no_{$vo.id}" class="radio-inline"><input type="radio" name="status" value="1" id="no_{$vo.id}" {eq name="vo.status" value="1"}checked{/eq} />禁用</label>
	                                    </div>
	                                </div>
									<input type="hidden" name="id" value="{$vo.id}" />
	                            </form>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="submit" class="btn btn-green ajax-post" target-form="edit-group-{$vo.id}">提交</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 授权 -->
	            <div class="modal fade set" id="set_role_{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                    class="iconfont icon-guanbi"></span></button>
	                            <p class="modal-title">角色授权</p>
	                        </div>
	                        <div class="modal-body">
	                            <form action="{:url('authorize')}" class="form-inline set-group-{$vo.id}">
	                            	<div class="row">
	                            		{notempty name="_nodes"}
	                            		{volist name="_nodes" id="node"}
	                            		<div class="form-group col-xs-4">
	                            			<label class="check-label" for="node_{$vo.id}_{$key}">
	                            				<input name="access[]" id="node_{$vo.id}_{$key}" type="checkbox" value="{$key}" {if condition="in_array($key, $vo['access'])"}checked="checked"{/if} />{$node}
	                            			</label>
	                            		</div>
	                            		{/volist}
	                            		{/notempty}
	                            	</div>
									<input type="hidden" name="id" value="{$vo.id}" />
	                            </form>
	                        </div>
	                        <div class="modal-footer" style="padding-top:7px;">
	                            <button type="submit" class="btn btn-green ajax-post" target-form="set-group-{$vo.id}">授权</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- 删除 -->
	            <div class="modal fade delete" id="delete_role_{$vo.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <p class="modal-title">是否删除该角色</p>
	                        </div>
							<form class="delete-group-{$vo.id}" method="post" action="{:url('delete')}">
								<input type="hidden" name="id" value="{$vo.id}" />
	                        </form>
	                        <div class="modal-footer">
	                            <button type="submit" class="btn btn-green ajax-post" target-form="delete-group-{$vo.id}">删除</button>
	                            <button type="button" class="btn btn-green" data-dismiss="modal">取消</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            {/volist}
	            {/notempty}
	        </div>
	    </div>
	</div>
</body>
{include file='public/script' /}
<script type="text/javascript">
    //导航高亮
    highlight_subnav('{:url('index')}');
</script>
</html>