<!DOCTYPE html>
<html>
{include file='public/header' /}
<style type="text/css">
	.main .btn-box {
        position: static;
        margin-top: 30px;
        padding-left: 125px;
        margin-bottom: 40px;
    }

	.main .form-group .form-control {
        width: 500px;
    }

    .main .form-group select.form-control {
    	width: 70%;
    }

    .form-horizontal .form-group .control-label {
        display: inline-block;
	    width: 90px;
	    font-weight: 100;
    }
    
    .form-group  label.radio-inline:before{
        top:1px;
    }
    .form-group  label.radio-inline{
        margin-top: 2px;
    }
</style>
<body>
	{include file='public/head' /}
	{include file='public/left' /}
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content"></div>
	</div>
	<div class="main">
	    <div class="main-inner">
	        <div class="contain">
	            <p class="page-title">新闻管理</p>
	            <ol class="breadcrumb">
	                <li><a href="{:url('index/index')}">首页</a></li>
	                <li><a href="{:url('news/index')}">新闻管理</a></li>
	                <li class="active"><a href="{:url('news/add')}">添加新闻</a></li>
	            </ol>
	            <ul class="nav nav-tabs">
	                <li role="presentation"><a href="{:url('news/index')}">新闻列表</a></li>
	                <li role="presentation" class="active"><a href="javascript:void(0);">添加新闻</a></li>
	            </ul>
	            <div class="tab-content">
	                <div class="tab-pane active" id="add">
	                    <div class="pane-inner">
	                    <form class="form-horizontal" action="{:url('')}">
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">新闻标题：</label>
	                            <div class="input-box">
	                                <input type="text" class="form-control" name="title" maxlength="128" />
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">缩略图：</label>
	                            <div class="input-box">
									<div class="upload-img-box" >
									<div class="upload-pre-item" style="padding-bottom: 5px;"></div>
									</div>
									<input type="hidden" name="thumb" id="cover_id_thumb" />
									<button type="button" class="btn btn-green btn-min uploadimg">上传缩略图</button>
								</div>
	                        </div>
	                        <div class="form-group">
								<label for="pro-case" class="control-label">新闻简介：</label>
								<div class="input-box">
									<textarea name="intro" class="form-control" style="width: 700px;"></textarea>
								</div>
							</div>
	                        <div class="form-group">
								<label for="pro-case" class="control-label">新闻内容：</label>
								<div class="input-box" style="width:800px">
									<textarea name="content" id="pro-case" class="form-control"></textarea>
								</div>
							</div>
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">排序：</label>
	                            <div class="input-box">
	                                <input type="text" class="form-control" name="sort" />
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="user_name" class="control-label">状态：</label>
	                            <div class="input-box">
	                                <label for="yes" class="radio-inline"><input type="radio" name="status" value="0" id="yes" checked="checked"/>显示</label>
                                	<label for="no" class="radio-inline"><input type="radio" name="status" value="1"  id="no"/>关闭</label>
	                            </div>
	                        </div>
	                    </form>
	                    </div>
	                    <div class="btn-box">
	                        <button type="submit" class="btn btn-green ajax-post" id="submit" target-form="form-horizontal">保存</button>
	                        <button class="btn btn-green" onclick="javascript:history.back(-1);return false;">返回</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
{include file='public/script' /}
<script type="text/javascript" src="__PUBLIC__/front_v1/js/plupload-2.1.8/plupload.full.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/front_v1/js/plupload-2.1.8/i18n/zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/front_v1/js/jquery.uploader.js"></script>
<script type="text/javascript">
	//导航高亮
	highlight_subnav("{:url('index')}");
	
	$('.uploadimg').each(function(){
		var obj = $(this);
		var _param = {};
		_param.url = "{:url('file/upload_picture')}";
		_param.file_data_name = 'image';
		obj.uploader(
			_param,
			function(ok){
				if (ok && ok.code == 1) {
					var src = ok.data.filepath;
					console.log(src);
					$("#cover_id_thumb").val(ok.data.filepath);
					obj.parent()[0].style.paddingTop="10px";
					obj.parent().find('.upload-pre-item').html('<img src="'+src+'" width="300" height="200"/>');
				} else 
					alert(ok.info);
			},
			function(err){alert(err);}
		);
	});
</script>
<link rel="stylesheet" href="__STATIC__/kindeditor/default/default.css" />
<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/zh_CN.js"></script>
<script type="text/javascript">
	var editor_content;
	KindEditor.ready(function(K) {
		editor_content = K.create('textarea[name="content"]', {
			allowFileManager : false,
			themesPath: K.basePath,
			width: '100%',
			height: '500px',
			resizeType: 1,
			pasteType : 2,
			urlType : 'absolute',
			fileManagerJson : "{:url('fileManagerJson')}",
			uploadJson : "{:url('file/keditor_upload_picture')}",
			afterBlur: function () { this.sync(); }
		});
	});

	$(function(){
		$('textarea[name="content"]').closest('form').submit(function(){
			editor_content.sync();
		});
		//ajax提交之前同步
		$('button[type="submit"],#submit,.ajax-post,#autoSave').click(function(){
			editor_content.sync();
		});
	})
</script>
</html>